{% extends 'OSULibraryOpenroomBundle:Default:template.html.twig' %}


{% block header %}
    <a data-role="button" href="{{ path('osu_library_openroom_home')}}" data-icon="home" data-iconpos="left" class="ui-btn-left">
		Home
	</a>
	<a data-role="button" href="{{ path('osu_library_openroom_dumblogin')}}" class="ui-btn-right">
		My Reservations
	</a>
{% endblock %}

{% block title %}
	{% if username != "" %}
		<h3>Welcome bak {{ username }}!</h3>
	{% else %}
		<h3>Mobileroom</h3>
	{% endif %}
{% endblock %}

{% block message %}
{% endblock %}

{% block body %}
<script src="{{ asset('includes/calendar_mobile.js') }}"></script>
<script>
//Move these into their own javascript file. They don't belong here.
$(function() {
    $('#searchPickPlace ul').children('li').bind('touchstart mousedown', function(e) {
        var selected = $(this).attr('data-name');
        if (selected == "calendar") {
        	$(".hasDatepicker").datepicker("refresh");
        	$('input[name="date"]').val({{ selected_date|json_encode|raw }});
        }
    });
});

$(document).bind("mobileinit", function(){
	$("#roomsection").change(function(){
		window.location.replace = "{{ path('osu_library_openroom_floors', {'fid': fid })}}" + $(this).attr('value');
	});
	
});

$(function() {
    $("#todayButton").click(setToday);
    $('#date').val(getToday);
    var dicks = {{ section }};
    $(".ui-datepicker-prev").live("click", function() {

        if (checkDateMatch()) {
            $('.ui-datepicker-calendar a.ui-state-active').removeClass('ui-btn-active');
            $('.ui-datepicker-calendar a.ui-state-active').addClass('ui-btn-active');
            
        } else {
        	$('.ui-datepicker-calendar a.ui-state-active').removeClass('ui-btn-active');
        }
    	
    });
    $(".ui-datepicker-next").live("click", function()
    {
    	if (checkDateMatch()) {
            $('.ui-datepicker-calendar a.ui-state-active').removeClass('ui-btn-active');
            $('.ui-datepicker-calendar a.ui-state-active').addClass('ui-btn-active');
            
        } else {
        	$('.ui-datepicker-calendar a.ui-state-active').removeClass('ui-btn-active');
        }
    }); 
    $('.ui-datepicker-calendar a').live("click", function(){
    });        
});


</script>
Set date and rooms to display:

<div id="searchPickPlace">
<ul data-role="listview" data-divider-theme="" data-inset="true">
			<li data-name="calendar" data-theme="">
				<a href="#calendar_popup" data-transition="pop" data-rel="dialog" >
					Date: {{ selected_date }}
				</a>
			</li>
</ul>
</div>

<select onchange="window.location = '#{{ path('osu_library_openroom_floorselection')}}' + $(this).attr('value');
" id="floorselection" name="select-choice-1" id="select-choice-custom" data-native-menu="false" tabindex="-1" >
	{% set value = fid %}
	{% for item in floors %}
		{% if value == item.Roomgroupid %}
			<option selected value='/{{ item.Roomgroupid }}' >{{ item.Roomgroupname }}</option>
		{% else %}
			<option value='/{{ item.Roomgroupid }}' >{{ item.Roomgroupname }}</option>
		{% endif %}
	{% endfor %}
</select>

<select onchange="window.location = '#{{ path('osu_library_openroom_floors', {'fid': fid })}}' + $(this).attr('value');
" id="roomsection" name="select-choice-1" id="select-choice-custom" data-native-menu="false" tabindex="-1" >
	{% set value = 0 %}
	{% for item in splitRooms %}
		{% if value == section %}
			<option selected value='/{{ value }}' >{{ item[0].Roomname }} - {{ item[splitRooms[0]|length - 1].Roomname }}</option>
		{% else %}
			<option value='/{{ value }}' >{{ item[0].Roomname }} - {{ item[splitRooms[0]|length - 1].Roomname }}</option>
		{% endif %}
		{% set value = value + 1 %}
	{% endfor %}
</select>

<!-- TODO: add some styling to these buttons -->
<a data-role="button" href="{{ path('osu_library_openroom_floorssection', {'fid': fid ,'section': lastSection})}}" 
data-icon="arrow-l" data-iconpos="left" class="ui-btn-left">
	Back
</a>
<span style="float:right;">
	<a data-role="button" href="{{ path('osu_library_openroom_floorssection', {'fid': fid ,'section': nextSection})}}" 
	data-icon="arrow-r" data-iconpos="right" class="ui-btn-right">
		Next
	</a>
</span>

<!-- // room1 ... room n ... roomid?
	//		=> name
	//		=> int(hour => int(minute => available
	Forces hour logic onto the hour-grid template -->
<br><br>
Find rooms:
<div data-role="collapsible-set" data-content-theme="e" data-inset="true">
	{% for i in range(0,23) %}
			{%	include 'OSULibraryOpenroomBundle:Default:hour-grid.html.twig'
				with {	'grid_hour': i,	'grid_rooms': room_blocks }
			%}
	{% endfor %}
</div>
{% endblock %}

{% block popup %}

    <div data-role="header" data-theme="e">
		<h1>Pick Date</h1>
	</div>
    
	<div data-role="content" data-theme="d"> 
 		<form action="{{ path('osu_library_openroom_floorssection', {'fid': fid ,'section': section})}}" method="post" >
			<div data-role="fieldcontain">
	     	    <input type="date" name="date" id="date" value="" />
			</div>
			<fieldset class="ui-grid-a">		
    			<div class="ui-block-a"><input type="button" value="Today" id="todayButton" data-theme="c" /></div>
    			<div class="ui-block-b"><input type="submit" value="Set" data-theme="b" /></div>
    		</fieldset>
		</form>
		
	</div>

        
{% endblock %}
