{% extends 'OSULibraryOpenroomBundle:Default:template.html.twig' %}

{% block header %}
	<a data-role="button" href="#page1" class="ui-btn-right">
		Login
	</a>
{% endblock %}

{% block title %}
	<h3> Home </h3>
{% endblock %}

{% block body %}
	
	<a data-role="button" href="#page1" class="ui-btn-center">
		My Reservations
	</a>
	<a data-role="button" href="floors" class="ui-btn-center">
		Make A Reservation
	</a>
	<a data-role="button" href="#page1" class="ui-btn-center">
		Find My Groups
	</a>
	
{% endblock %}
