<div data-role="collapsible" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">

<!-- 
Buttons for reservation availability:

"Available":
<a data-role="button" href="#path-to-reserve-a-room" data-icon="check" data-iconpos="notext" data-rel="dialog" data-theme="f"></a>

"Not available":
<a data-role="button" href="#" data-icon="delete" data-iconpos="notext" data-rel="dialog" data-theme="b"></a>

"My reservation":
<a data-role="button" href="#" data-icon="false" data-iconpos="notext" data-rel="dialog" data-theme="e" class="smile"></a>

"grid_rooms"
room1 ... room n 
	//		=> name
	//		=> int(hour => int(minute => available
-->
{% set visual_hour = 0 %}
{% if grid_hour == 0 %}
	{% set visual_hour = 12 %}
	{% set grid_period = 'AM' %}
{% elseif grid_hour > 12 %}
	{% set visual_hour = grid_hour - 12 %}
	{% set grid_period = 'PM' %}
{% elseif grid_hour == 12 %}
	{% set visual_hour = grid_hour %}
	{% set grid_period = 'PM' %}
{% else %}
	{% set grid_period = 'AM' %}
	{% set visual_hour = grid_hour %}
{% endif %}
<h3>{{ visual_hour }}:00 {{ grid_period }}</h3>
	
	<div class="ui-grid-d" data-type="horizontal">
		<div class="ui-block-a"><h5>Rooms:</h5></div>
	
		{% set i = 0 %}
		{% for room in grid_rooms %}
			{% if i == 0 %}
				<div class="ui-block-b"><h5>{{ room['name'] }}</h5></div>
			{% elseif i == 1 %}
				<div class="ui-block-c"><h5>{{ room['name']}}</h5></div>
			{% elseif i == 2 %}
				<div class="ui-block-d"><h5>{{ room['name'] }}</h5></div>
			{% elseif i == 3 %}
				<div class="ui-block-e"><h5>{{ room['name'] }}</h5></div>
			{% endif %}
			{% set i = i + 1 %}
		{% endfor %}
	</div>
	
	<div class="ui-grid-d">
		{% for i in range(0,50,10) %}	
			{% if i == 0 %}
				<div class="ui-block-a"><h5>{{ visual_hour }}:00 {{ grid_period }}</h5></div>
			{% else %}
				<div class="ui-block-a"><h5>{{ visual_hour }}:{{ i }} {{ grid_period }}</h5></div>
			{% endif %}
			{% set j = 0 %}
			{% for room in grid_rooms %}
				{% if j == 0 %}
					<div class="ui-block-b">
					{% if room[grid_hour][i] == 1 %}
						<a data-role="button" href="{{ path('osu_library_openroom_reserve') }}" data-icon="check" data-iconpos="notext" data-rel="dialog"></a>
					{% else %}
						<a data-role="button" href="#" data-icon="delete" data-iconpos="notext" data-rel="dialog" data-theme="b"></a>
					{% endif %}
					<!-- if you do a my reservation check it should go here -->
					</div>
				{% elseif j == 1 %}
					<div class="ui-block-c">
					{% if room[grid_hour][i] == 1 %}
						<a data-role="button" href="{{ path('osu_library_openroom_reserve') }}" data-icon="check" data-iconpos="notext" data-rel="dialog"></a>
					{% else %}
						<a data-role="button" href="#" data-icon="delete" data-iconpos="notext" data-rel="dialog" data-theme="b"></a>
					{% endif %}
					</div>
				{% elseif j == 2 %}
					<div class="ui-block-d">
					{% if room[grid_hour][i] == 1 %}
						<a data-role="button" href="{{ path('osu_library_openroom_reserve') }}" data-icon="check" data-iconpos="notext" data-rel="dialog"></a>
					{% else %}
						<a data-role="button" href="#" data-icon="delete" data-iconpos="notext" data-rel="dialog" data-theme="b"></a>
					{% endif %}
					</div>
				{% elseif j == 3 %}
					<div class="ui-block-e">
					{% if room[grid_hour][i] == 1 %}
						<a data-role="button" href="{{ path('osu_library_openroom_reserve') }}" data-icon="check" data-iconpos="notext" data-rel="dialog"></a>
					{% else %}
						<a data-role="button" href="#" data-icon="delete" data-iconpos="notext" data-rel="dialog" data-theme="b"></a>
					{% endif %}
					</div>
				{% endif %}
				{% set j = j + 1 %}
			{% endfor %}
		{% endfor %}
	</div>
</div>