{% extends 'OSULibraryOpenroomBundle:Default:template.html.twig' %}

{% block header %}
	<a data-role="button" href="home" data-icon="home" data-iconpos="left" class="ui-btn-left">
		Home
	</a>
	<a data-role="button" href="/openroom/web/app_dev.php/dumblogin" class="ui-btn-right">
		Login
	</a>
{% endblock %}

{% block title %}
	<h3> Study Rooms </h3>
{% endblock %}  

{% block message %} 
<p>You can reserve up to 28 days in advance.</p>
{% endblock %}

{% block body %}
<ul data-role="listview" data-divider-theme="b" data-inset="true">
	<li data-role="list-divider" role="heading">
		Floors
	</li>
	{% for item in results %}
		<li data-theme="c">
    		<a href="floors/{{ item.Roomgroupid }}" data-transition="slide" rel="external" class="reload">
        		{{ item.Roomgroupname }}
			</a>
		</li>
	{% endfor %}
</ul> 
{% endblock %}
