{% extends 'OSULibraryOpenroomBundle:Default:reserve-form-template.html.twig' %}

{% block header %}
	
{% endblock %}

{% block title %}
	<h3> Make a reservation </h3>
{% endblock %}  

{% block message %} 
{% endblock %}

{% block body %}

 <form action="#" method="post" >
 	<div data-role="field-contain">
 		<fieldset class="ui-grid-a">
 			<div class="ui-block-a"><label><b>Room:</b></label></div>
 			<div class="ui-block-b"><label>1234</label><br></div>
 		</fieldset><br>
 		
 		<fieldset class="ui-grid-a">
 			<div class="ui-block-a"><label><b>Start time:</b></label></div>
 			<div class="ui-block-b"><label>10:00 AM</label><br></div>
 		</fieldset><br>
 		
 		<label for="duration"><b>End time:</b></label>
 		<select name="duration" id="duration" data-native-menu="false">
 			<option>Choose One:</option>
 			<option value="0">1:00 PM (3hrs 0mins)</option>
 			<option value="1">12:50 PM (2hrs 50mins)</option>
 			<option value="2">12:40 PM (2hrs 40mins)</option>
 			<option value="3">12:30 PM (2hrs 30mins)</option>
 			<option value="4">12:20 PM (2hrs 20mins)</option>
 			<option value="5">12:10 PM (2hrs 10mins)</option>
 			<option value="6">12:00 PM (2hrs 0mins)</option>
 			<option value="7">11:50 AM (1hrs 50mins)</option>
 			<option value="9">11:40 AM (1hrs 40mins)</option>
 			<option value="10">11:30 AM (1hrs 30mins)</option>
 			<option value="11">11:20 AM (1hrs 20mins)</option>
 			<option value="12">11:10 AM (1hrs 10mins)</option>
 			<option value="13">11:00 AM (1hrs 0mins)</option>
 			<option value="14">10:50 AM (0hrs 50mins)</option>
 			<option value="15">10:40 AM (0hrs 40mins)</option>
 			<option value="16">10:30 AM (0hrs 30mins)</option>
 			<option value="17">10:20 AM (0hrs 20mins)</option>
 			<option value="18">10:10 AM (0hrs 10mins)</option>
 			<option value="19">10:00 AM (0hrs 0mins)</option>

 		</select>
 		
 		<label for="group"><b>Group or description</b> (Optional):</label>
 		<input type="text" name="group" id="group" value="" placeholder="Enter your group name/descriotion here" />
 	</div><br>
	<fieldset class="ui-grid-a">		
		<div class="ui-block-a"><input type="button" value="Cancel" data-theme="c" /></div>
    	<div class="ui-block-b"><input type="submit" value="Reserve" data-theme="b" /></div>
    </fieldset>
</form>

{% endblock %}
