<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href='http://fonts.googleapis.com/css?family=Gudea' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.css" />
    <link rel="stylesheet"  href="{{ asset('includes/jquery.ui.datepicker.mobile.css') }}" />
    
    <link rel="stylesheet" href="{{ asset('includes/themes/osu-openroom.css') }}" />
    
    <script src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
	<script src="{{ asset('includes/calendar_mobile.js') }}"></script>
	
	<script>
    //reset type=date inputs to text
    $( document ).bind( "mobileinit", function(){
        $.mobile.page.prototype.options.degradeInputs.date = true;
    });

    $(document).delegate('div[data-role=dialog]', 'pageinit', function() {
    	$('#date').val(getToday);
    });    
    
    </script>
	
	<script src="http://code.jquery.com/mobile/1.2.0/jquery.mobile-1.2.0.min.js"></script>
	<script src="{{ asset('includes/jQuery.ui.datepicker.js') }}"></script>
    <script src="{{ asset('includes/jquery.ui.datepicker.mobile.js') }}"></script>

    <script>
        $('a.reload').live('click', function(e) {
    	$.mobile.showPageLoadingMsg();
    });
    </script>

    <link rel="stylesheet" href="{{ asset('includes/themes/custom_style.css') }}" />

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

	<title>Openroom</title>
</head>

<body>

<!-- Home -->
<div id="main" data-role="page" id="page1">
	<div data-theme="b" data-role="header">
		{% block header %}
		{% endblock %}
		
		{% block title %}
		{% endblock %}
	</div>
	<div id="content" data-role="content">
		{% block message %}
		{% endblock %}
		
    	{% block body %}
    	{% endblock %}
    </div>
</div>

<!-- page popup -->
<div data-role="page" id="calendar_popup">
	    {% block popup %}
        {% endblock %}
</div>
<!-- /page popup -->

</body></html>