{% extends 'OSULibraryOpenroomBundle:Default:template.html.twig' %}

{% block title %}
{{ name }}
{% endblock %}
{% block body %}
{% for item in results %}
		 dyn: {{ dyn['test'] }}<br/>
    	 Floor {{ item.Roomgroupname }}<br/>
{% endfor %}
{% endblock %}