@CHARSET "UTF-8";

    #date {
        display: none;
    }
    .smile {
        background-image: url('images/icons-18-smile2.png') !important;
        background-repeat:no-repeat;
		background-position:center; 
    }   